:root {
  /*   border radius */
  --radius: 0.2rem;
}

#counter {
  text-align: center;
  font-size: 40px;
  display: inline-block;
  margin-top: 10%;
}

#counter-div {
  background-color: #303030;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5%;
  height: 30%;
}

#counter-div button {
  margin-top: 20%;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  outline:none;
}

#button__decrease {
  margin-left: 15%;
  margin-right: 13%;
  float: left;
}

#button__increase {
  margin-right: 10%;
  float: right;
}


  